PrimeiroProjeto/packages/
PrimeiroProjeto/PrimeiroProjeto/PrimeiroProjeto.Android/bin/
PrimeiroProjeto/PrimeiroProjeto/PrimeiroProjeto.Android/obj/
PrimeiroProjeto/PrimeiroProjeto/PrimeiroProjeto/bin/
PrimeiroProjeto/PrimeiroProjeto/PrimeiroProjeto/obj/
